# Python
__pycache__/
*.pyc

# Django
*.sqlite3
*.log
/media
/staticfiles

media/identity_proof
media/employee_photo


# Environment
.env

# Virtualenv
venv/
hrms_env/
ENV/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

identity_proofs
profile_pictures