amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.5.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
crispy-bootstrap5==2025.6
cryptography==46.0.3
diff-match-patch==20241021
Django==5.2.7
django-cors-headers==4.9.0
django-crispy-forms==2.4
django-filter==25.1
django-import-export==4.3.10
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
email-validator==2.3.0
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.13
iniconfig==2.3.0
kombu==5.5.4
openpyxl==3.1.5
packaging==26.2
pillow==11.3.0
pluggy==1.6.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
pycparser==3.0
Pygments==2.20.0
PyJWT==2.12.1
pytest==8.4.2
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
redis==6.4.0
reportlab==4.4.4
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
tablib==3.9.0
tzdata==2026.2
urllib3==2.7.0
vine==5.1.0
wcwidth==0.7.0
whitenoise==6.11.0
xlsxwriter==3.2.5
